In [3]:
%matplotlib inline
import pandas as pd

In [4]:
cast = pd.read_csv('E:\cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
print(len(cast))

3611212

### What are the earliest two films listed in the titles dataframe?

In [12]:
print(cast.head(2))

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4   NaN
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

### How many movies have the title "Hamlet"?

In [30]:
h = cast[cast["title"] == "Hamlet"]
number_of_hamlet_movies = len(h)
print("count_of_hamlet_movies - ", number_of_hamlet_movies)

count_of_hamlet_movies -  313

### How many movies are titled "North by Northwest"?

In [31]:
h = cast[cast["title"] == "North by Northwest"]
number_of_North_by_Northwest = len(h)
print("count_of_North_by_Northwest - ", number_of_North_by_Northwest)

count_of_North_by_Northwest -  112

### When was the first movie titled "Hamlet" made?

In [37]:
hamlet_movies = cast[cast["title"] == "Hamlet"]
first_hamlet = hamlet_movies["year"].min()
print("first_hamlet_made in -", first_hamlet)

first_hamlet_made in - 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [43]:
movies = cast[cast["title"] == "Treasure Island"]
movies = movies.sort_values(by="year")
print(movies)

                   title  year                  name     type  \
830114   Treasure Island  1918        Charles Gorman    actor
840745   Treasure Island  1918             Joe Grant    actor
909157   Treasure Island  1918          Edwin Harley    actor
3298306  Treasure Island  1918      Violet Radcliffe  actress
1715014  Treasure Island  1918            Lloyd Perl    actor
...                  ...   ...                   ...      ...
2420089  Treasure Island  1999          Caveh Zahedi    actor
1637661  Treasure Island  1999         Nick Offerman    actor
1375015  Treasure Island  1999           J.P. Manoux    actor
1797264  Treasure Island  1999  Victor Raider-Wexler    actor
307749   Treasure Island  1999          Bob Byington    actor

                       character     n
830114           Prologue Player   NaN
840745   Undetermined child role   NaN
909157           Prologue Player   NaN
3298306         Long John Silver   3.0
1715014                Black Dog   4.0
...                          ...   ...
2420089                   Harold   9.0
1637661                   Samuel   2.0
1375015           Officer Hughes  18.0
1797264                 Samowitz  10.0
307749                    Thomas  12.0

[190 rows x 6 columns]

### How many movies were made in the year 1950?

In [45]:
movies = cast[cast["year"] == 1950]
mv = len(movies)
print("movies were made in year 1950 -",mv)

movies were made in year 1950 - 22006

### How many movies were made in the year 1960?

In [46]:
movies = cast[cast["year"] == 1960]
mv = len(movies)
print("movies were made in year 1960 -",mv)

movies were made in year 1960 - 18456

### How many movies were made from 1950 through 1959?

In [54]:
movies = cast[(cast["year"] >= 1950) & (cast["year"] <= 1959)]
n1 = len(movies)
print("number_of_movies_from_1950_through_1959 - ",n1)

number_of_movies_from_1950_through_1959 -  210986

### In what years has a movie titled "Batman" been released?

In [62]:
movies = cast[cast["title"] == "Batman"]
print(movies["year"])

95672      1943
96186      1943
114034     1989
119476     1989
149767     1989
           ...
2907449    1989
3253550    1943
3343947    1989
3345872    1989
3356826    1989
Name: year, Length: 120, dtype: int64

### How many roles were there in the movie "Inception"?

In [64]:
movies = cast[cast["title"] == "Inception"]
mv = len(movies)
print("number of roles in inception -",mv)

number of roles in inception - 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [72]:
data = cast[cast["title"] == "Inception"]
r = data[data["n"].notnull()]
unranked_roles = len(r)
print("number_of_unranked_roles -",unranked_roles)

number_of_unranked_roles - 51

### But how many roles in the movie "Inception" did receive an "n" value?

In [76]:
data = cast[cast["title"] == "Inception"]
r = data[data["n"].isnull()]
roles = len(r)
print("number_of_roles -",roles)

number_of_roles - 26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [8]:
data1 = cast[pd.to_numeric(cast["n"], errors="coerce").notna()]
datan = data1.sort_values("n")
print(datan)

                       title  year                      name     type  \
794859   Too Loud a Solitude  2007             Paul Giamatti    actor
2524372              Orville  2009           Kathleen Benner  actress
3543326             Fu sheng  1996          Annette Shun Wah  actress
2039259      'Tis the Season  2015                Tad Sisler    actor
3261682        Balat-sibuyas  2003              Halina Perez  actress
...                      ...   ...                       ...      ...
2592754                Lloyd  2001             Lisa Calvillo  actress
683143                  Rift  2011               Leon Fazzio    actor
3269046                 Rift  2011  Brittany Alexis Phillips  actress
2778378                 Rift  2011     Catherine Fitzlanders  actress
2607564          Tribulation  2000            Marium Carvell  actress

                   character        n
794859                 Hanta      1.0
2524372                Kelly      1.0
3543326             Yen Chan      1.0
2039259                  Ben      1.0
3261682                Diana      1.0
...                      ...      ...
2592754  Spaghetti Spectator    938.0
683143                 Henry    999.0
3269046                Erica    999.0
2778378                Matty    999.0
2607564          Selma Davis  33613.0

[2231970 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [11]:
s = cast[cast["title"] == "Sleuth"]
ranked_roles = s[pd.notna(s["n"])]
ranked_roles = ranked_roles.sort_values(by="n", ascending=True)
print("Cast of Sleuth:")
for index, row in ranked_roles.iterrows():
    print(f"{row['name']} ({row['character']})")

Cast of Sleuth:
Michael Caine (Andrew)
Laurence Olivier (Andrew Wyke)
Michael Caine (Milo Tindle)
Jude Law (Milo)
Alec Cawthorne (Inspector Doppler)
Harold Pinter (Man on T.V.)
John (II) Matthews (Detective Sergeant Tarrant)
Eve (III) Channing (Marguerite Wyke)
Teddy Martin (Police Constable Higgs)

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
casts = cast[(cast["title"] == "Sleuth") & (cast["year"] == 2007)]
ranks = ranks.sort_values(by="n", ascending=True)
print("Cast_of_Sleuth (2007):")
for index, row in ranks.iterrows():
    print(f"{row['name']} ({row['character']})")

Cast_of_Sleuth (2007):
Michael Caine (Andrew)
Jude Law (Milo)
Harold Pinter (Man on T.V.)

### How many roles were credited in the silent 1921 version of Hamlet?

In [22]:
mv = cast[(cast["title"] == "Hamlet") & (cast["year"] == 1921)]
roles = len(mv)
print("Number of roles in Hamlet (1921): ",roles)

Number of roles in Hamlet (1921):  9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [24]:
b = cast[(cast["title"] == "Hamlet") & (cast["year"] == 1996)]
roles = len(b)
print("Number of roles in Hamlet (1996): ",roles)

Number of roles in Hamlet (1996):  54

### How many "Hamlet" roles have been listed in all film credits through history?

In [28]:
hamlet = cast[cast["character"] == "Hamlet"]
no_of_roles = len(hamlet)
print("Total number of ‘Hamlet’ roles are listed: ", no_of_roles)

Total number of ‘Hamlet’ roles are listed:  91

### How many people have played an "Ophelia"?

In [34]:
ophelia = cast[cast["character"] == "Ophelia"]
p = len(ophelia["name"])
print("Total number of people played ‘Ophelia’ : ", p)

Total number of people played ‘Ophelia’ :  111

### How many people have played a role called "The Dude"?

In [45]:
dt = cast[cast["character"]== "The Dude"]
d = len(dt["name"].unique())
print("count of people in 'the dude' :",d)

count of people in 'the dude' : 18

### How many people have played a role called "The Stranger"?

In [47]:
role = cast[cast["character"] == "the Stranger"]
pl = len(role["name"])
print("number of peoples in 'the stranger' :",pl)

number of peoples in 'the stranger' : 1

### How many roles has Sidney Poitier played throughout his career?

In [53]:
role = cast[cast["name"] == "Sidney Poitier"]
pl = len(role)
print("number of roles 'sidney poitier played' :",pl)

number of roles 'sidney poitier played' : 43

### How many roles has Judi Dench played?

In [56]:
judi = cast[cast["name"] == "Judi Dench"]
d = len(judi)
print("number of roles of 'Judi Dench' :",d)

number of roles of 'Judi Dench' : 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [72]:
cary_grant = cast[(cast["name"] == "Cary Grant") & (cast["year"].between(1940, 1949))]
supporting_roles = cary_grant[cary_grant["n"] == 2]
roles = supporting_roles.sort_values(by="year")
print("Supporting roles played by Cary Grant in the 1940s:")
for index, row in roles.iterrows():
    print(f"{row['title']} ({row['year']}) - {row['character']}")

Supporting roles played by Cary Grant in the 1940s:
My Favorite Wife (1940) - Nick
Penny Serenade (1941) - Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [79]:
cary_grant = cast[(cast["name"] == "Cary Grant") & (cast["year"].between(1940, 1949))]
leading_roles = cary_grant[cary_grant["n"] == 1]
roles = leading_roles.sort_values(by="year")
print("Leading roles played by Cary Grant in the 1940s:")
for index, row in sorted_roles.iterrows():
    print(f"{row['title']} ({row['year']}) - {row['character']}")

Leading roles played by Cary Grant in the 1940s:
The Howards of Virginia (1940) - Matt Howard
His Girl Friday (1940) - Walter Burns
The Philadelphia Story (1940) - C. K. Dexter Haven
Suspicion (1941) - Johnnie
The Talk of the Town (1942) - Leopold Dilg
Once Upon a Honeymoon (1942) - Patrick 'Pat' O'Toole
Destination Tokyo (1943) - Capt. Cassidy
Mr. Lucky (1943) - Joe Adams
Mr. Lucky (1943) - Joe Bascopolous
Once Upon a Time (1944) - Jerry Flynn
Arsenic and Old Lace (1944) - Mortimer Brewster
None But the Lonely Heart (1944) - Ernie Mott
Night and Day (1946) - Cole Porter
Notorious (1946) - Devlin
The Bachelor and the Bobby-Soxer (1947) - Dick Nugent
The Bishop's Wife (1947) - Dudley
Mr. Blandings Builds His Dream House (1948) - Jim Blandings
Every Girl Should Be Married (1948) - Dr. Madison Brown
I Was a Male War Bride (1949) - Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [87]:
roles = cast[(cast["type"] == "actor") & (cast["year"].between(1950,1959))]
a = len(roles)
print("roles available for actors:",a)

roles available for actors: 154727

### How many roles were available for actresses in the 1950s?

In [88]:
roles_for_actresses = cast[(cast["type"] == "actress") & (cast["year"].between(1950,1959))]
a = len(roles_for_actresses)
print("roles available for actresses:",a)

roles available for actresses: 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [92]:
movies1 = cast[cast["year"] < 1981]
leading_roles = movies1 [movies1["n"] == 1]
num = len(leading_roles)
print("Number of leading roles before 1981:", num_leading_roles)

Number of leading roles before 1981: 63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [96]:
movies2 = cast[cast["year"] < 1981]
non_leading_roles = len(movies2)
num = len(movies2)
print("Number of non leading roles before 1981:", num)

Number of non leading roles before 1981: 1158704

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [101]:
moviess = cast[cast["year"] < 1981]

minor_roles = moviess[moviess ["n"].isna()]
roles = len(minor_roles)
print("Number of minor roles before 1981:", num_minor_roles)

Number of minor roles before 1981: 438086